.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #684444;
  border-radius: 25px;
  background: #684444;
  color: white;
  cursor: pointer;
  margin-left: auto; /* Centering the button horizontally */
  margin-right: auto; /* Centering the button horizontally */
  text-decoration: none;
  display: inline-block;
  width: 330px; /* Default width */
  height: 45px;
  margin-top: 20px;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #684444;
  border-color: #684444;
}

.button--inverse {
  background: transparent;
  color: #684444;
}

.button--inverse:hover,
.button--inverse:active {
  color: white;
  background: #684444;
}

.button--danger {
  background: #830000;
  border-color: #830000;
}

.button--danger:hover,
.button--danger:active {
  background: #684444;
  border-color: #684444;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}

/* Media query for responsiveness */
@media only screen and (max-width: 600px) {
  .button {
    width: 90%; /* Adjusted width for smaller screens */
    max-width: 300px; /* Added maximum width for better responsiveness */
  }
}
