.form-control {
  margin: 1rem 0;
  margin-top: 20px; /* Adjusted for smaller screens */
  
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
  margin-left: auto; /* Centering the elements */
  margin-right: auto; /* Centering the elements */
  border-radius: 25px;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-control input,
.form-control textarea {
  height: 40px;
  width: 80%;
  max-width: 300px; /* Added maximum width for better responsiveness */
  font: inherit;
  border: 1px solid #ccc;
  background: #f8f8f8;
  padding: 0.15rem 0.25rem;
}

.form-control input:focus,
.form-control textarea:focus {
  outline: none;
  background: #ebebeb;
  border-color: #510077;
}

.form-control--invalid label,
.form-control--invalid p {
  color: red;
}

.form-control--invalid input,
.form-control--invalid textarea {
  border-color: red;
  background: #ffd1d1;
}

/* Media query for responsiveness */
@media only screen and (max-width: 600px) {
  .form-control input,
  .form-control textarea {
    width: 90%; /* Adjusted width for smaller screens */
    max-width: none; /* Removing maximum width for smaller screens */
  }
}
