/* UpdateOrders.css */

/* Container styles */
.update-orders-container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Order list styles */
.order-list {
    list-style-type: none;
    padding: 0;
}

/* Order item styles */
.order-item {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 20px;
}

.product-status-update {
    margin-left: 120px;
}

/* Product container styles */
.admin-product {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Product image styles */
.admin-product-imgs {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

/* Product name styles */
.admin-product-name {
    font-weight: bold;
    margin-bottom: 5px;
}

/* Product price styles */
.admin-product-price {
    color: #888;
    margin-bottom: 5px;
}

/* Select dropdown styles */
.status-select {
    height: 40px;
    width: 200px;
    border-radius: 25px;
    margin-top: 10px;
}

/* Media query for responsive adjustments */
@media screen and (max-width: 600px) {
    /* Adjust margin for product status update */
    .product-status-update {
        margin-left: 0;
        margin-top: 10px; /* Add margin at the top for better spacing */
    }
    
    /* Adjust product image size */
    .admin-product-imgs {
        width: 80px;
        height: 80px;
        margin-right: 10px;
    }
    
    /* Adjust product name font size */
    .admin-product-name {
        font-size: 16px;
    }
    
    /* Adjust product price font size */
    .admin-product-price {
        font-size: 14px;
    }
    
    /* Adjust select dropdown width */
    .status-select {
        width: 150px;
    }
}
