/* ProfilePage.css */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px; /* Adjusted margin for better spacing */
}

.profile-details {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to new line */
  justify-content: center;
  width: 90%; /* Adjusted width */
  max-width: 1000px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.profile-pic {
  width: 250px; /* Adjusted width */
  height: 250px; /* Adjusted height */
  padding-right: 10px; /* Adjusted padding */
  margin-right: 0; /* Removed margin */
  margin-bottom: -20px; /* Adjusted margin for better spacing */
  margin-left: 80px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.profile-pic img {
  width: 60%;
  height: 60%;
  object-fit: cover;
  border: 1px solid black;
  border-radius: 50%;
}

.profile-btn1{
  margin-left: 20px;
}
.profile-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 330px;
}

.profile-info h1{
  margin-left: 60px;
  font-size: 45px;
}

.input-fields {
  text-align: center;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  padding-left: 20px;
  width: 50%; /* Adjusted width */
}

.profile-btn {
  width: 55%; /* Adjusted width */
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background-color: #74545c;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}
.delete-btn {
  background-color: red;
}

.order-history {
  margin-top: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 90%; /* Adjusted width */
  max-width: 1000px;
  padding: 20px;
  margin-bottom: 50px;
}

.order-history h2 {
  padding-top: 20px;
  margin-bottom: 20px;
}

.orders {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order {
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to new line */
}

.order-details {
  flex-grow: 1;
}

.order-left {
  display: flex;
  align-items: center;
}

.order-right {
  margin-left: 20px; /* Adjusted margin for better spacing */
}

.order-image {
  width: 200px; /* Adjusted width */
  height: 200px; /* Adjusted height */
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.order-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.order-details p {
  margin: 5px 0;
  white-space: nowrap;
}

.order-details ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.order-details ul li {
  margin-left: 20px;
}

/* Media query for responsive adjustments */
@media screen and (max-width: 600px) {
  .profile-details {
    flex-direction: column;
    align-items: center;
  }
  .profile-info{
    margin-left: -0px;
  }
  
  .profile-pic {
    width: 150px; /* Adjusted width */
    height: 150px; /* Adjusted height */
    margin-bottom: 10px; /* Adjusted margin for better spacing */
  }
  
  .input-fields {
    width: 90%; /* Adjusted width */
  }
  
  .profile-btn {
    width: 100%; /* Adjusted width */
  }
  
  .order-history {
    width: 90%; /* Adjusted width */
  }
  
  .order-image {
    width: 150px; /* Adjusted width */
    height: 150px; /* Adjusted height */
  }
}
