/* Offers.css */

.offer-sec {
  height: 50px;
  width: 100%;
  background-color: #080404;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px; /* Adjust the font size as needed */
}


.search-input {
  border: none;
  outline: none;
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  background-color: transparent;
  color: white;
  margin-bottom: 10px; /* Add margin bottom for spacing */
}

.search-input:hover {
  border-bottom: 2px solid #fff; /* Add a white bottom border on hover */
}

.nav-search {
  margin-top: 20px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px; /* Add margin bottom for spacing */
}

.social-icons {
  margin-top: 20px;
  display: flex;
  justify-content: center; /* Center align social icons */
  margin-right: 50px;
  margin-bottom: 15px;

}

.social-icons a {
  text-decoration: none;
  font-size: 20px;
  margin: 0 10px; /* Add horizontal margin for spacing */
  color: white;
  transition: transform 0.5s;
}

.social-icons a:hover {
  transform: scale(1.2); /* Adjust the scale factor for hover effect */
}

.ofrcode{
  margin-right: 150px;
}

/* Dropdown styles */
.dropdown {
  position: absolute;
 top: 120px; /* Position below the search input */
  left: 0;
  width: 25%;
  background-color: #080404;
  z-index: 1;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for better visibility */
}

.searched-products {
  display: flex;
  padding: 8px;
  color: white;
  cursor: pointer;
  width: 96%;
  text-align: center;
}

.searched-products img{
  height: 80px; /* Adjust the height of the image */
  width: auto; /* Maintain aspect ratio */
  margin-right: 20px;
}

.searched-products-h3{
  margin-top: 20px;
}

.searched-products:hover {
  background-color: #684444;
}


@media only screen and (max-width: 600px) {
  .dropdown{
    width: 70%;
  }
  .nav-search{
    margin-left: 10px;
  }
  .social-icons{
    margin-right: 10px;
    margin-bottom: 15px;
  }
  .ofrcode{
    margin-right: 10px;
  }
  
}